# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Banco de Dados Local (SQLite) ---
# Ignora o arquivo do banco para não vazar dados reais
database/*.db
*.sqlite
*.sqlite3

# --- Backups ---
backups/

# --- Variáveis de Ambiente (Segurança) ---
.env

# --- IDEs (Configurações do PyCharm/VSCode) ---
.idea/
.vscode/
*.swp

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Logs de Erro ---
*.log